<%- include ('../partials/header.ejs'); %>

<body>

    <%- include('../partials/navbar.ejs');%>

    <div class="container">
        <hr>
        <h1> <%= pergunta.titulo %></h1>
        <hr>
        <p name="" id=""><%= pergunta.descricao%></p>
        <hr>
        <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
        <form action="/salvarresposta" method="post">
            <textarea class="form-control" name="corpo" placeholder="Digite a resposta"></textarea>
        <br>
        <button type="submit" class="btn-primary btn">Responder</button>
        <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
        </form>
        <hr>
        <br>
        <% respostas.forEach(resposta => { %>

            <hr>
            <br>
            <textarea class="form-control" readonly><%= resposta.corpo %></textarea>

        <% }) %>
    </div>

</body>
<%- include('../partials/footer.ejs');%>